.content {
	display: flex;
	gap: 3rem;
	position: relative;
	flex-direction: row;
	min-height: 100vh;
	padding-bottom: 5rem;
}

/* media queries */

@media (max-width: 1130px) {
	.content {
		flex-direction: column;
	}
}
