@import '../variables.css';

/* header container */
.header {
	background: #1f4037; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #99f2c8, #1f4037); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#99f2c8,
		#1f4037
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	font-family: inherit;
}

.header-text {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.6rem;
	font-size: 3rem;
	text-align: center;
}

/* image & wrapper */
.image {
	max-height: 30rem;
	background-clip: text;
	clip-path: circle(50% at 50% 50%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

.imgContainer {
	display: inline;
	position: relative;
}

.portal {
	max-height: 38rem;
	animation: spin 25s infinite linear;
	opacity: 0.5;
}

.button:link,
.button:visited {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	border-radius: 20rem;
	font-weight: 700;
	font-size: 2rem;
	transition: all 0.2s;
	position: relative;
	background-color: var(--primary-light);
	color: #fff;
	padding: 1.5rem 4rem;
	letter-spacing: 1rem;
	text-align: center;
}

.button:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.button:active {
	transform: translateY(-1px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.button::after {
	content: '';
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 20rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
	background-color: var(--primary-light);
}

.button:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.button--animated {
	animation: moveInBottom 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;
}

/* animations */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
